<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/c124f2f752.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <title>Teste D1 Smarkio</title>
</head>

<body>
    <div class="container">
        <div class="col-md-auto">
            <div class="row">
            </div>
        </div>
        <div class="col-md-auto">
            <div class="row">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="box">
                    <form id="formComentario">
                        <div class="form-control-lg">
                            <label for="comentario"><i class="comentarios"></i> Comentário </label>
                            <textarea class="form-control" id="comentario" name="comentario" rows="4" maxlength="250"
                                placeholder="Digite aqui..."></textarea>
                        </div>
                        <button type="button" onclick="cadastro()" class="btn btn-light botao"
                            id="botao">Cadastrar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="box">
                    <div style="font-weight: bolder;">Comentários</div>
                    <div class="comentarios" id="comentarios"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<footer>
    <div class="container">
        <div class="col-md-auto">
            <div class="row">
                <div class="mx-auto col-md-auto">
                    <span>Teste D1 Smarkio - Victor Finholdt R. Mendes</span><br>
                    <a href="https://github.com/VictorFinholdt" target="_blank">Github</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>